<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inicio - Universidad del Magdalena</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{{ url_for('static', filename='index/') }}assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="{{ url_for('static', filename='index/') }}assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
    <link rel="shortcut icon" href="https://cdn.unimagdalena.edu.co/images/favicon.ico" type="image/x-icon">

    <link rel="icon" href="https://cdn.unimagdalena.edu.co/images/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='index/') }}assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='index/') }}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='index/') }}assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='index/') }}assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='index/') }}assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='index/') }}assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='index/') }}assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Feventos.unimagdalena.edu.co%2FContent%2FImagenes%2Fpatrocinadores%2Fp20190320164716.744.jpg&f=1&nofb=1&ipt=465de5c89fa719b4054c1aad8718a37eba616370d30db4b7e439197bcc3e57b5&ipo=images" alt="">
        <span>CIDS</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Acerca de</a></li>
          <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contactos</a></li>
          <li><a class="getstarted scrollto" href="{{ url_for('home_bp.login') }}">Ingresar</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Sistema de pedidos</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Centro de ingeniería y Desarrollo de Software</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Me interesa</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ url_for('static', filename='index/') }}assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Intentalo ya!</h3>
              <h2>Sistema de pedidos.</h2>
              <p>
               Este nuevo sistema desarrollado con Tecnología python apoyada del microframework Flask permite a la usuario registrarse, acceder, crear producto, registrar pedidos y consultar los pedidos.
              </p>
              <div class="text-center text-lg-start">
                <a <li><a class="getstarted scrollto" href="{{ url_for('home_bp.login') }}">Intentar</a></li>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{{ url_for('static', filename='index/') }}assets/img/features-2.png" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Equipo </h2>
          <p>INGENIEROS</p>
        </header>

        <div class="row gy-2">

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='index/') }}assets/img/team/team-1.png" class="img-fluid" alt="" width="400">
                <div class="social">
                  <a href="https://twitter.com/xhlar"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/mauriciomartinezxh"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/xhlar/"><i class="bi bi-instagram"></i></a>
                  <a href="https://github.com/xhlar"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mauricio Martinez</h4>
                <span>Software Developer</span>
                <p>Estudiante de ingeniería de sistemas de la Universidad del Magdalena.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='index/') }}assets/img/team/team-2.png" class="img-fluid" alt="" width="265">
                <div class="social">
                  <a href="https://twitter.com/Manu_101110"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/ManuelOrtegaEJ/"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/manuelortegajuvinao/"><i class="bi bi-instagram"></i></a>
                  <a href="https://github.com/Manuelortegaj11"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Manuel Ortega </h4>
                <span>Software Developer</span>
                <p>Estudiante de ingeniería de sistemas de la Universidad del Magdalena.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contacto</h2>
          <p>INFORMACIÓN DE CONTACTO</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Dirección</h3>
                  <p>Carrera 32 #22-08,<br> Santa Marta, Magdalena</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Telefono</h3>
                  <p>+57 3044620556<br>+1 6678 254445 41</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Correo</h3>
                  <p>manuelortegaej@unimagdalena.edu.co<br>marmartinez@unimagdalena.edu.co</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Apertura</h3>
                  <p>Lunes - Viernes<br>8:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Nombre completo" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Correo" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Sujeto" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Mensaje..." required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">CARGANDO</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias!</div>

                  <button type="submit">Enviar</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
            
              <span>CIDS</span>
            </a>
            <br>
            <p>La mesa de ayuda del Centro de Investigación y Desarrollo de Software brinda visibilidad y control central al tratar los problemas de Tecnología de la Información, garantiza la correcta gestión y documentación de las incidencias reportadas por los usuarios. Así mismo, se podrá identificar cuales son las incidencias más recurrentes en aras de poder tomar acciones correctivas tempranas en componentes particulares..</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Enlaces</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Acerca de</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Términos de servicio</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Política de Privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>NUESTROS SERVICIOS</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Diseño de páginas web</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Desarrollo web</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gestión de productos</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Administración de Servidores</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>INFORMACIÓN DE CONTACTO</h4>
            <p>¨
              Carrera 32 #22-08,<br> Santa Marta, Magdalena<br> Colombia <br>
              <strong>Teléfono</strong> (605) 4381000<br>
              <strong>Correo:ciudadano@unimagdalena.edu.co</strong><br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Universidad del Magdalena</span></strong>. Derechos Reservados
      </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='index/') }}assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="{{ url_for('static', filename='index/') }}assets/vendor/aos/aos.js"></script>
  <script src="{{ url_for('static', filename='index/') }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='index/') }}assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{{ url_for('static', filename='index/') }}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{{ url_for('static', filename='index/') }}assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{{ url_for('static', filename='index/') }}assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='index/') }}assets/js/main.js"></script>

</body>

</html>
