{% extends "dashboard/base.html" %} 
{% block title %} Crear pedido - Universidad del Magdalena {% endblock %}
{% block content %} 
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Pedidos</h5>

      <!-- No Labels Form -->
      <form class="row g-3">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Nombre Completo">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="ID Cliente" value="{{ current_user.id }}">
        </div>
        <div class="col-md-6">
          <input type="number" class="form-control" placeholder="Cantidad Producto">
        </div>
        <div class="col-md-6">
          <select id="inputState" class="form-select">
            {% if produtos %}
            <option selected>Elegir producto</option>
            {% for producto in productos %}
                <option>{{ producto.nombre }}</option>
            {% endfor %}
            {% else %}
            <option selected>No hay productos en el sistema </option>
            {% endif %}
          </select>
        </div>
        <!-- <div class="col-md-6"> -->
        <!--     <input type="text" class="form-control" placeholder="Dirección"> -->
        <!--   </div> -->
          <!-- <div class="col-md-6"> -->
          <!--   <input class="form-control" type="telefono" name="inputTelefono" id="inputTelefono" placeholder="+xx-xxx-xxx-xxx" pattern="[+][0-9]{2}-[0-9]{3}-[0-9]{3}-[0-9]{4}" title="+xx-xxx-xxx-xxx" value=""> -->
          <!-- </div> -->

          <button type="submit" class="btn btn-primary">Crear pedido</button>
        </div>
      </form>
    </div>
</div>

<div class="col-lg-12">
 <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ver pedidos</h5>
              <p class="card-text">¿Quieres ver todos los pedidos?, sólo haz clic en el botón.</p>
              <p class="card-text"><a href="{{ url_for('user_bp.verPedido') }}" class="btn btn-primary">Ver</a></p>
            </div>
          </div><!-- End Card with titles, buttons, and links -->
          </div>
          </div>

{% endblock %} 
