{% extends "dashboard/base.html" %} 
{% block title %} Tablero {% endblock %}
{% block content %} 
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Product</h5>

      <!-- No Labels Form -->
      <form class="row g-3">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Nombre Completo">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="ID Cliente">
        </div>
        <div class="col-md-6">
          <input type="number" class="form-control" placeholder="Cantidad Producto">
        </div>
        <div class="col-md-6">
          <select id="inputState" class="form-select">
            <option selected>Producto..</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Dirección">
          </div>
          <div class="col-md-6">
            <input class="form-control" type="telefono" name="inputTelefono" id="inputTelefono" placeholder="+xx-xxx-xxx-xxx" pattern="[+][0-9]{2}-[0-9]{3}-[0-9]{3}-[0-9]{4}" title="+xx-xxx-xxx-xxx" value="+57">
          </div>

          <button type="submit" class="btn btn-primary">Crear</button>
          <button type="reset" class="btn btn-secondary">Eliminar</button>
        </div>
      </form>
    </div>
</div>