{% extends "dashboard/base.html" %} 
{% block title %} Tablero {% endblock %}
{% block content %} 

<div class="row align-items-top">
<div class="col-lg-12">
<div class="card">
            <div class="card-body">
              <h5 class="card-title">Sección de preguntas</h5>
              <p class="card-text">Toda la información relacionada del sistema.</p>

              <!-- Accordion without outline borders -->
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      ¿Cómo crear productos en el sistema?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Para crear productos en el sistema tiene que hacer clic en la esquina superior izquierda en el icono para desplegar el menú lateral y hacer clic en<code>Producto</code> el cual desplegara unas opciones y hará clic en: Crear producto.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      ¿Cómo crear un pedido en el sistema?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Para crear productos en el sistema tiene que hacer clic en la esquina superior izquierda en el icono para desplegar el menú lateral y hacer clic enProducto el cual desplegara unas opciones y hará clic en: Crear producto.</div>
                  </div>
                </div>

              </div><!-- End Accordion without outline borders -->

            </div>
          </div>

        </div>


          </div>

{% endblock %}

