{% extends "dashboard/base.html" %} 
{% block title %} Tablero {% endblock %}
{% block content %} 

<div class="row align-items-top">
<div class="col-lg-6">

 <div class="card">
            <div class="card-body col">
              <h5 class="card-title">Crear producto </h5>
              <p class="card-text">¿Quieres crear un producto en el sistema?, sólo haz clic en el botón.</p>
              <p class="card-text"><a href="#" class="btn btn-primary">Crear</a></p>
            </div>
          </div><!-- End Card with titles, buttons, and links -->

        </div>


<div class="col-lg-6">
 <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ver productos</h5>
              <p class="card-text">¿Quieres ver todos los productos?, sólo haz clic en el botón.</p>
              <p class="card-text"><a href="#" class="btn btn-primary">Ver</a></p>
            </div>
          </div><!-- End Card with titles, buttons, and links -->
          </div>
          </div>

{% endblock %}

