{% extends "dashboard/base.html" %} 
{% block title %} Ver pedidos - Universidad del Magdalena {% endblock %}
{% block content %} 

<div class="row align-items-top">
<div class="col-lg-12">

  <div class="card">
            <div class="card-body">
              <h5 class="card-title">Todos los pedidos</h5>
                {% if pedidos %}
              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Orden ID</th>
                    <th scope="col">Cliente ID</th>
                    <th scope="col">Cliente Identificacion</th>
                    <th scope="col">Cliente Nombre</th>
                    <th scope="col">Cliente Direccion</th>
                    <th scope="col">Cliente Telefono</th>
                    <th scope="col">Producto ID</th>
                    <th scope="col">Producto Nombre</th>
                    <th scope="col">Producto Precio</th>
                    <th scope="col">Producto Cantidad</th>
                    <th scope="col">Precio total</th>
                  </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}

                  <tr>
                      <th scope="row">{{ pedido.id }}</th>
                    <td>{{ pedido.orden_id }}</td>
                    <td>{{ pedido.cliente_id }}</td>
                    <td>{{ pedido.cliente.identificacion }}</td>
                    <td>{{ pedido.cliente.nombre }}</td>
                    <td>{{ pedido.cliente.direccion }}</td>
                    <td>{{ pedido.cliente.telefono }}</td>
                    <td>{{ pedido.producto.id }}</td>
                    <td>{{ pedido.producto.nombre }}</td>
                    <td>{{ pedido.producto.precio }}</td>
                    <td>{{ pedido.cantidad }}</td>
                    <td>{{ pedido.producto.precio * pedido.cantidad }}</td>
                  </tr>
                    {% endfor%}
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->
              {% else %}
                  No hay pedidos en el sistema<br><br>
              <p class="card-text"><a href="{{ url_for('user_bp.crearPedido') }}" class="btn btn-primary">Crear un pedido</a></p>
              {% endif %}

            </div>
          </div>

        </div>

        {% if pedidos %}
<div class="col-lg-12">
 <div class="card">
            <div class="card-body">
              <h5 class="card-title">Crear pedidos</h5>
              <p class="card-text">¿Quieres crear un pedido?, sólo haz clic en el botón.</p>
              <p class="card-text"><a href="{{ url_for('user_bp.crearPedido') }}" class="btn btn-primary">Crear</a></p>
            </div>
          </div><!-- End Card with titles, buttons, and links -->
          </div>
          </div>
        {% endif %}

{% endblock %}

