{% extends "dashboard/base.html" %} 
{% block title %} Todos los productos - Universidad del Magdalena {% endblock %}
{% block content %} 

<div class="row align-items-top">
<div class="col-lg-12">

  <div class="card">
            <div class="card-body">
              <h5 class="card-title">Todos los productos</h5>
              {% if productos %}
              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    {% if current_user.rol == "ADMINISTRADOR"%}
                    <th scope="col">Acciones</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}

                  <tr>
                      <th scope="row">{{ producto.id }}</th>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    {% if current_user.rol == "ADMINISTRADOR"%}
                    <td>
                        <div class="form-group">
                        <form action="" method="get" accept-charset="utf-8">
                            <input type="hidden" name="borrarproducto" value="{{ producto.id }}" />
                        <button type="submit" class="btn btn-danger">BORRAR PRODUCTO</button>
                        </form>
                        </div>
                    </td>
                    {% endif %}

                  </tr>
                    {% endfor%}
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->
              {% else %}
                  No hay productos en el sistema<br><br>
              <p class="card-text"><a href="{{ url_for('user_bp.crearProducto') }}" class="btn btn-primary">Crear un producto</a></p>
              {% endif %}
            </div>
          </div>

        </div>

        {% if productos %}
 <div class="card">
            <div class="card-body col">
              <h5 class="card-title">Crear producto </h5>
              <p class="card-text">¿Quieres crear un producto en el sistema?, sólo haz clic en el botón.</p>
              <p class="card-text"><a href="{{ url_for('user_bp.crearProducto') }}" class="btn btn-primary">Crear</a></p>
            </div>
          </div><!-- End Card with titles, buttons, and links -->
          {% endif %}

{% endblock %}

